.home-page {
  min-height: calc(100dvh - 57px);
}

.card {
  width: 1024px;
}

.loading-page {
  min-height: calc(100dvh - 57px);
}

.error-page {
  min-height: calc(100dvh - 57px);
}

.not-found-page {
  min-height: calc(100dvh - 57px);
}
