.profile-layout {
  display: flex;
}

.profile-layout > main {
  flex: 1 0;
}

.profile-page {
  min-height: calc(100dvh - 57px);
}

.profile-picture {
  border-radius: 50%;
}

.card {
  width: 1024px;
}
